/* ---------------------Custom Properties---------------------*/
:root{
  --ppal-light-color: #fff;
  --ppal-color: #111010;
  --sec-color: #f0b530;
  --third-color: #183153;
  --fourth-color: #f0b530;
  --font-color: #fff;
  --font-ppal: 'Raleway', sans-serif;
  --font-sec: 'Bebas Neue', cursive;
  --max-width: 1200px;
  --clippy: polygon(100% 0, 100% 0%, 100% 100%, 100% 100%);
  /* --font-third: 'Fjalla One', sans-serif; */
}
/* ---------------------Reset--------------------- */
html {
  box-sizing: border-box;
  font-family: var(--font-ppal);
  font-size: 16px;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body{
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  color: var(--ppal-color);
  background-color: var(--ppal-light-color);
}

a {
  color: var(--sec-color);
  text-decoration: none;
  transition: all .5s ease-out;
}

a:hover{
  opacity: 0.75;
}

h1 {
  margin: 0;
  font-size: 2rem;
}

h2 {
  margin: 0;
  font-size: 1.5rem;
}

h3 {
  margin: 0;
  font-size: 1.25rem;
}

h4 {
  margin: 0;
  font-size: 1rem;
}

h5 {
  margin: 0;
  font-size: 0.85rem;
}

h6 {
  margin: 0;
  font-size: 0.7rem;
}

img {
  max-width: 100%;
  height: auto;
}

p {
  line-height: 1.6;
}

/* ---------------------Components--------------------- */

/*____________________Menu____________________ */
.menu {
  position: fixed;
  top: 5rem;
  left: 0;
  width: 100%;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s ease-out;
  background-color: var(--ppal-color);
}

.menu.is-active {
  opacity: 1;
  pointer-events: auto;
}

.menu a {
  padding: 1rem;
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  color: var(--sec-color);
}

.menu-button {
  outline: none;
  border: none;
  cursor: pointer;
  color: var(--sec-color);
  background-color: var(--ppal-color);
}

.menu-button svg {
  width: 1.2rem;
  height: 1.2rem;
  fill: var(--sec-color);
}

@media screen and (min-width: 768px) {

}

@media screen and (min-width: 1024px) {
  .menu-button {
    display: none;
  }
  /* No podia posicionar los elementos del menu en el header, creo que es problema del container */
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .menu {
    position: static;
    width: 100%;
    margin-left: 10%;
    flex-direction: row;
    opacity: 1;
    pointer-events: auto;
  }

  .menu a {
    font-size: 1.5rem;
    padding: 0 1rem;
    width: 100%;
    text-transform: uppercase;
  }

  .menu a:hover {
    background-color: transparent;
  }

}

/* ____________________ Home ____________________ */
.home {
  background-image: url(assets/imgs/background-forest.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
}

.home .welcome {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1.3rem;
  font-size: 7.5vw;
  font-weight: 700;
  background: linear-gradient(to right, var(--ppal-color), var(--sec-color));
  mix-blend-mode: screen;
}

.welcome-logo{
  position: absolute;
  top: 62%;
  width: 100%;
  height: 38%;
  opacity: 0.1;
  text-align: center;
  perspective: 10rem;
}
/* ____________________ Aboutme ____________________ */

/* ___Titulo___ */
.aboutme {
  display: flex;
  flex-direction: column;
  max-width: var(--max-width);
  height: 100%;
  margin-right: auto;
  margin-left: auto;
}

.presentation {
  margin-right: auto;
  margin-left: auto;
  width: 70%;
}

.aboutme-name {
  position: relative;
  font-size: clamp(1.8rem, 2rem, 5rem);
  font-weight: 700;
  width: 100%;
  z-index: 100;
  text-align: center;
  padding: 2rem 1rem 0.3rem 1rem;
}

.aboutme-name::before{
  content: "";
  width: 100%;
  height: 65%;
  display: block;
  position: absolute;
  top: 2rem; /* por el margin top */
  right: 0;
  z-index: -1;
  background-color: #d8737fb9;
  clip-path: var(--clippy);
  transition: clip-path 2s;
}

.aboutme-name:hover::before{
  clip-path: polygon(10% 0%, 90% 0%, 100% 100%, 0 100%);
}

.aboutme-dev {
  position: relative;
  font-size: 1rem;
  z-index: 100;
  text-align: center;
}

.aboutme-name:hover + .aboutme-dev{
  color: var(--ppal-light-color);
  transition: color 0.5s 1.7s linear;
}

.aboutme-dev::before{
  content: "";
  width: 100%;
  height: 110%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background-color: #475c7a;
  clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
  transition: clip-path 2s;
}

.aboutme-name:hover + .aboutme-dev::before{
  clip-path: polygon(0 0, 100% 0%, 90% 100%, 10% 100%);
  transition: clip-path 1.5s 1.5s;
}

.aboutme-icons {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 1rem 0;
}

.aboutme-icons .fa-brands{
  position: relative;
  margin: 0 0.2em;
  font-size: 2rem;
  padding: 0 0.4em;
}

.aboutme-icons .icon__html5{
  position: absolute;
  left: 18%;
  top: 10%;
  width: 3px;
  height: 80%;
  background-color: #f06529;
  transform: scale(0);
  transform: left top;
  transition: 0.75s 2s;
}

.aboutme-icons .icon__css3{
  position: absolute;
  left: 25%;
  bottom: -5%;
  width: 50%;
  height: 3px;
  background-color: #264de4;
  transform: scale(0);
  transform: left bottom;
  transition: 0.75s 2s;
}

.aboutme-icons .icon__js{
  position: absolute;
  right: 15%;
  top: 10%;
  width: 3px;
  height: 80%;
  background-color: #ffff00;
  transform: scale(0);
  transform: right top;
  transition: 0.75s 2s;
}

.aboutme-name:hover ~ .aboutme-icons .icon{
  transform: scale(1);
}

/* ___Parrafos___ */
p {
  padding: 0.3rem 2rem;
  max-width: 75ch;
  margin-right: auto;
  margin-left: auto;
}

.button-cv {
  display: block;
  font-family: var(--font-sec);
  font-size: 1.5rem;
  margin-right: auto;
  margin-left: auto;
  width: 50%;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 0.5rem;
  background-color: var(--ppal-color);
  transform: scale(1);
  transition: background-color 0.5s ease-out, transform 0.2s ease-out;
}

.button-cv:hover {
  box-shadow: 2px 2px 4px 2px var(--ppal-color);
  background-color: var(--sec-color);
  transform: scale(1.05);
}

.button-cv a {
  display: block;
  width: 100%;
}

.button-cv a:hover {
  color: var(--ppal-color);
}

/* ___Img___ */
.aboutme-img {
  margin-top: 2rem;
  margin-right: auto;
  margin-left: auto;
  width: 70%;
  height: auto;
  border-radius: 0.5rem;
}

/* ___Hobbies___ */
.aboutme-hobbies {
  margin: 1rem .5rem 0;
  display: grid;
  gap: 1rem;
  margin-right: auto;
  margin-left: auto;
  grid-template-columns: minmax(15rem, 25rem);
  grid-template-rows: auto;
}

.hobbie {
  padding: .2rem .5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: .5rem;
  box-shadow: 2px 2px 1px 6px var(--ppal-color);
  background-color: var(--sec-color);
}

.hobbie > .hobbie-img {
  margin: .5rem 1rem;
  max-width: 3.5rem;
  height: 3.5rem;
  border-radius: .5rem;
  box-shadow: 2px 2px 2px 2px var(--ppal-color);
  background-color: var(--third-color);
}

.hobbie-img {
  padding: .7rem;
  fill: var(--font-color);
  height: auto;
}

.hobbie > h4{
  margin: 0;
  font-size: 1.5rem;
  font-weight: 700;
  font-family: var(--font-sec);
  letter-spacing: 2px;
}

.hobbie-description{
  margin: 0.2rem 0;
  padding: 0 1rem 1rem;
  font-weight: 300;
  text-align: center;
  color: var(--ppal-color);
}

/* ____________________ Galeria ____________________ */
.gallery {
  margin-top: 2rem;
  position: relative;
  height: 100vh;
  width: 100%;
  background-color: var(--ppal-color);
  background-image: url(assets/imgs/slides/Rompecabezas.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: luminosity;
  background-attachment: fixed;
}

.gallery .gallery-slides {
  position: relative;
  height: 80%;
  width: 100%;
}

.gallery-slide {
  position: absolute;
  top: 12.5%;
  left: 5%;
  width: 95%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s ease;
}

.gallery-slide img {
  height: inherit;
  width: inherit;
  object-fit: cover;
  object-position: 50% 0%;
  border-radius: .5rem;
}

.gallery-slide.active {
  opacity: 1;
  visibility: visible;
}

.gallery-buttons{
  position: absolute;
  width: 100%;
  top: calc(50% - 2rem);
  display: flex;
  justify-content: space-between;
  font-size: 2rem;
  font-weight: bold;
}

.gallery a {
  display: block;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  text-decoration: none;
  background-color: var(--sec-color);
  transition: all 0.3s ease;
}

.gallery-buttons svg {
  position: relative;
  width: 100%;
  height: 100%;
  fill: var(--font-color);
}

.gallery-buttons svg:hover {
  z-index: -1; /* Para que se pueda targuetear el boton */
}

/* ____________________ Formulario ____________________ */



/* ---------------------Utilities--------------------- */
.box-shadow-1 {
  box-shadow: 0.2rem 0.2rem 0.5rem var(--ppal-color);
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: var(--max-width);
}

.menu-button .none {
  display: none;
}

.header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 5rem;
  padding: 1rem;
  background-color: var(--ppal-color);
}

.container > .menu-logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img{
  margin-top: 0;
  width: 3rem;
}

@media screen and (min-width: 768px) {
  .aboutme-name {
    font-size: clamp(2rem, 5vw, 4rem);
  }

  .aboutme-dev {
    font-size: 1.5rem;
  }

  .aboutme-icons .fa-brands{
    font-size: 2.5rem;
  }
  
  .aboutme-hobbies {
    grid-template-columns: repeat(2, minmax(15rem, 25rem));
  }

  .gallery-slide {
    left: 25%;
    width: 70%;
  }
}
@media screen and (min-width: 1024px) {
  .aboutme-name {
    font-size: clamp(3rem, 5vw, 5rem);
  }

  .aboutme-dev {
    font-size: 2rem;
  }

  .aboutme-hobbies {
    grid-template-columns: repeat(4, minmax(15rem, 1fr));
  }

  .header {
    padding: 1rem;
  }

  .gallery-slide {
    left: 25%;
    width: 70%;
  }
}
/* ---------------------Site Style--------------------- */